.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: calc(20rem - 1rem);
  height: auto;
  margin: 10px;
  box-shadow: 7px 9px 5px 0px rgba(240, 240, 240, 1);
}

.card:hover{
  transform: scale(1.01);
}

.card-text {
  letter-spacing: 3px;
}

.card-title {
  letter-spacing: 3px;
}

img {
  height: 60%;
}

.basket-add{
position: absolute;
bottom: 1.2rem;
left: 2rem;
}

.btn-success {
  padding: 0px;
  position: absolute;
  bottom: 2rem;
  right: 2rem;

}
